# Ignore secrets folder
secrets/
cache/
# Ignore OAuth token
token.json

# Ignore Python cache and virtual environment
__pycache__/
venv/
*.pyc

# Ignore logs
logs/
outputs/

test.fit
test.mp4

*.log
*.fit
*.mp4
*.wav